$imgFolder: "http://stage-musical.ru/ghost_landing/img/";
$darkBlue: #010f20;

$textDark: rgb(64, 76, 95);
$textHalfDark: rgb(134, 140, 150);
$textWhite: #ffffff;

$textRed: rgb(185, 0, 9);
$textRedOver:rgb(200, 0, 18);
$textGold: rgb(141, 111, 30);

$textMargin: 40px;
$siteWidth: 700px;

@mixin text-normal {
  font-size:14px;
  font-family:Verdana;
  color:$textHalfDark;
  line-height: 1.333;
}
@mixin text-small {
  font-size:12px;
  font-family:Verdana;
  color:$textDark;
  line-height: 1.333;
}
@mixin text-bigger {
  font-size: 18px;
  font-family: "Verdana";
  color: $textDark;
  line-height: 1.2;
  text-align: center;
}

@mixin text-margins {
  margin-right:$textMargin;
  margin-left:$textMargin;
  @media screen and (max-width:700px){
    margin-left: 20px;
    margin-right: 20px;
  }
}
@mixin text-margins2 {
  margin-right:70px;
  margin-left:70px;
  @media screen and (max-width:700px){
    margin-left: 20px;
    margin-right: 20px;
  }
}
@mixin block-paddings {
  padding:60px 0;
}
@mixin trim-margins {
  *:first-child {
    margin-top:0;
  }
  *:last-child {
    margin-bottom:0;
  }
}

body {
  background-color:#2d3a50;
  margin:0;
  padding:0;
}

.wrapper {
  min-height:100vh;
  width:$siteWidth;
  @media screen and (max-width:700px){
    width: 100%;
  }
  margin:0 auto;
  background-color: #ffffff;
  overflow-x:hidden;
}

.iblock {
  display:block;
  background-size:contain;
  background-position:center center;
  background-repeat: no-repeat;
}

.top {
  height:500px;
  background: url(#{$imgFolder}top.jpg) center center no-repeat;
  background-size:cover;
  @media screen and (max-width:700px){
    height:71vw;
  }
}

.scroll {
  position:relative;
  height:440px;
  @media screen and (max-width:700px){
    height:62vw;
  }
  overflow:hidden;
  background-color:$darkBlue;
  color:#ffffff;

  .container {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transition:left 0.5s;
  }
  &[data-touched] .container {
    transition:none;
  }
  .page {
    display:block;
    width:100%;
    height:100%;
    vertical-align:top;
    background:top center no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
  }

  .controls {
    display:block;
    position:absolute;
    left:50%;
    bottom:30px;
    @media screen and (max-width:500px){
      bottom:10px;
    }
  }

  .control {
    display:block;
    position:absolute;
    width:40px;
    height:40px;
    bottom:0px;
    opacity:1;
    cursor:pointer;
    transition:background-color 0.4s;
    &:hover {
      opacity:1;
      background-color:#000710;
    }

    &.next {
      background-image:url(#{$imgFolder}right.png);
      left:2px;
      z-index:2;
    }
    &.prev {
      right:2px;
      background-image:url(#{$imgFolder}left.png);
      z-index:2;
    }
  }

  &:after {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    background:#000000;
    opacity:0.4;
    bottom:0;
    left:0;
    right:0;
    height:100px;
    @media screen and (max-width:500px){
      height:60px;
    }
  }

  @for $i from 1 through 3 {
    .cite#{$i} {
      left:(100% * ( $i - 1 ));
      background-image:url(#{$imgFolder}quote#{$i}.jpg);
    }
  }

  @for $i from 1 through 6 {
    .pic#{$i} {
      left:(100% * ( $i - 1 ));
      background-image:url(#{$imgFolder}pic0#{$i}.jpg);
    }
  }
}

h2 {
  font-size: 18px;
  font-family: "Verdana";
  color: $textGold;
  font-weight: bold;
  letter-spacing:1px;
  text-transform: uppercase;
  line-height: 1.072;
  text-align: left;
}

h1 {
  font-size: 24px;
  font-family: "Verdana";
  color: $textRed;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.765;
  text-align: center;
}

.colblock {
  @include trim-margins;
  @include text-margins;
  .col1 {
    width:155px;
    float:left;
    @include block-paddings;
    box-sizing: border-box;
    @include text-small;
    text-align:center;
    @media screen and (max-width:700px){
      float:none;
      margin-left:auto;
      margin-right:auto;
      padding-bottom:0;
    }

  }
  .col2 {
    width:$siteWidth - $textMargin - $textMargin - 30px - 155px;
    float:right;
    box-sizing: border-box;
    @include block-paddings;
    @include text-normal;
    text-align: left;
    @media screen and (max-width:700px){
      width:auto;
      float:none;
    }
  }
  &:after {
    display:block;
    height:0;
    float:none;
    clear:both;
    content:'';
  }
}

.ytblock {
  @include text-margins;
  height:348px;
  @media screen and (max-width:700px){
    margin-left: 0px;
    margin-right: 0px;
    height:56vw;
  }
  iframe {
    border:none;
    margin:0;
    display:block;
    @media screen and (max-width:700px){
      width:100%;
      height:56vw;
    }
  }
}


.actblock {
  background-color:$darkBlue;
  @include trim-margins;
  h2 {
    text-align:center;
  }
  .ungle {
    height:62px;
    background:url(#{$imgFolder}ungle.png) top center no-repeat;
  }
  .content {
    @include block-paddings;
  }
  .actors {
    background:url(#{$imgFolder}actors.png) center center no-repeat;
    height:153px;
    margin:30px 0;
    @media screen and (max-width:700px){
        width:400px;
        height:400px;
        margin:30px auto;
        background-image:url(#{$imgFolder}small.png);
        background-size:contain;
    }
    @media screen and (max-width:400px){
        width:100%;
        height:100vw;
    }
  }
  .text {
    @include text-margins2;
    @include text-normal;
    color:#ffffff;
    line-height: 1.5;
  }
}

.linkblock {
  @include trim-margins;
  @include block-paddings;
  background:url(#{$imgFolder}fon.jpg) center center no-repeat;
  @media screen and (max-width:700px){
    h1 {
      line-height:1.2em;
    }
  }

  .text {
    @include text-margins2;
    @include text-normal;
    text-align:center;
    .intro {
      @include text-bigger;
    }
    .intro2{
      color: $textDark;
    }
  }
  .buttons {
    text-align:center;
    a {
      display:inline-block;
      background-color:$textRed;
      color:$textWhite;
      padding:20px;
      letter-spacing: 1px;
      text-transform:uppercase;
      text-decoration: none;
      cursor:pointer;
      transition:background-color 0.3s;
      &:hover {
        background-color: $textRedOver;
      }
    }
  }
}

.rules {
  a {
    cursor:pointer;
    position:relative;
    color:$textHalfDark;
    text-decoration:none;
    @media screen and (max-width:400px){
      text-decoration:underline;
    }
  }
  a:after {
    position:absolute;
    bottom:0;
    height:1px;
    left:0;
    right:0;
    content:'';
    display:block;
    background-color:$textRed;
    @media screen and (max-width:400px){
      display:none;
    }
  }
  .opened {
    position:relative;
    height:0px;
    overflow:hidden;
    transition:height 0.5s;
    & > div {
      padding-bottom:1em;
    }

    li {
      text-align:left;
      margin-bottom:0.5em;
    }
  }
}
